.minHeight {
  min-height: 425px;
}

.spinner-loading {
  height: 50px !important;
  width: 50px !important;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.suggestions-list {
  position: absolute;
  top: 40px;
  left: 10px;
  width: calc(100% - 20px);
}