.spinner-loading {
  height: 50px !important;
  width: 50px !important;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.suggestions-list {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

.glass {
  backdrop-filter: blur(6.7px);
  background: hsla(0, 0%, 100%, 0.18);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

.label-width {
  width: 100px;
}